* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 1400px;
  min-width: 375px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: #222222;
}

/* -------------------- INICIO CSS HEADER -------------------- */
.header-section {
  margin-bottom: 0px;
}

.header-container {
  background-color: #0a9292;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-titulo-loggin {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.site-title {
  display: flex;
  width: 450%;
  justify-content: flex-start;
  color: #f7f7f7;
  padding-left: 40px;
}

#menu-navegacion {
  padding: 0;
}
.container-fluid {
  background: #d6d309;
  padding-inline-start: 350px;
  padding-inline-end: 150px;
  margin: auto;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  color: rgb(81, 83, 82);
}

.container-fluid > a {
  display: flex;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.container-fluid > a:hover {
  display: flex;
  text-decoration: underline;
  font-weight: bold;
}

.logoLibreria {
  width: 100%;
}

.logoLibreria > img {
  width: 100%;
  height: 240px;
  max-width: 1400px;
  object-fit: cover;
}

/* -------------------- FIN CSS HEADER -------------------- */

/* Modificaciones Diego Guisasola. Sección Libros destacados del mes */
.services-section,
.seccion-noticias,
.seccion-equipo {
  display: flex;
  margin-bottom: 50px;
}

.summary-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-info__imagen {
  max-width: 50%;
  max-height: 50%;
  border-radius: 10%;
  object-fit: contain;
}

.book-summary {
  text-align: justify;
}

.book-author {
  font-weight: bold;
}

.book-price {
  font-weight: bold;
}

.contenedor-contenido-principal {
  padding: 25px;
}

.seccion-noticias,
.header-section {
  background-color: #f7f7f7;
}

.seccion-noticias {
  flex-wrap: wrap;
}

/* Modificacion de estilos para página details.html */
.details-header {
  display: flex;
  justify-content: space-around;
}

/*--------------------- Modificaciones Jefferson: Sección Noticias -----------------*/
.news-info__title {
  align-self: center;
  text-align: center;
}
.news-info__text {
  text-align: justify;
}
.news-imagen {
  max-width: 30%;
  max-height: 30%;
  border-radius: 10%;
}
#imagen-biblia {
  max-width: 26%;
  max-height: 26%;
  border-radius: 10%;
}
#imagen-talleresRefuerzo {
  max-width: 25%;
  max-height: 25%;
  border-radius: 10%;
}

#resaltar {
  -webkit-text-fill-color: blue;
}

#imagen-dinosaurios {
  max-width: 22%;
  max-height: 22%;
  border-radius: 10%;
}

/*----------Fin Modificaciones Jefferson--------------------*/

.services-info {
  padding: 20px;
  text-align: center;
}

.news-info {
  width: 50%;
  padding: 20px;
}

.news-header {
  display: flex;
  justify-content: space-around;
}

.news-info__title {
  align-self: center;
}

/* -------------------- INICIO CSS FOOTER -------------------- */
.seccion-info__pie {
  height: 200px;
  display: flex;
  justify-content: space-around;
  color: #f7f7f7;
}

.seccion-footer {
  padding: 3px;
  background-color: #0a9292;
  color: #f7f7f7;
}

.titulo-footer {
  text-align: center;
}
.parrafo-footer {
  text-align: center;
}

.redes-sociales {
  list-style: none;
  color: #f7f7f7;
}

/* -------------------- FIN CSservicesS FOOTER -------------------- */

.services-info__imagen {
  height: 300px;
  width: 200px;
  border-radius: 10%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.team-info {
  width: 25%;
  padding: 15px;
}

.team-info__text {
  text-align: justify;
}

.team-info__imagen {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10%;
}
